/* ===================================
   Dropdown
====================================== */

//hover
.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

//muitl columns
.dropdown-menu {
    min-width: 200px;
    &.columns-2 {
        min-width: 400px;
    }
    &.columns-3 {
        min-width: 600px;
    }
    li a {
        padding: 5px 15px;
        font-weight: 300;
    }
}

.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #333;
        white-space: normal;
        &:hover {
            text-decoration: none;
            color: #262626;
            background-color: #999;
        }
    }
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}
