/*-----------------------------
** FAQ Area Start
------------------------------*/
.faq {
    padding: 110px 0px 107px;
    position: relative;
    overflow: hidden;
    background: #fafafa;
    .accordion {
      .panel {
        margin-bottom: 20px;
        background: #fff;
        border-radius: 3px;
        -webkit-box-shadow: 0px 8px 25px rgba(36, 36, 36, 0.08);
        -moz-box-shadow: 0px 8px 25px rgba(36, 36, 36, 0.08);
        box-shadow: 0px 8px 25px rgba(36, 36, 36, 0.08);
        .panel-body {
          padding: 4px 20px 7px;
        }
      }
      .panel-title {
        display: block;
        width: 100%;
        background: #fff;
        padding: 15px 34px 15px 20px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0px;
        color: #242424;
        position: relative;
        border-radius: 3px;
        cursor: pointer;
        &::after {
          position: absolute;
          content: "";
          width: 40px;
          height: 100%;
          border-radius: 3px 0px 0px 3px;
          right: 0;
          top: 0;
          text-align: center;
        }
        &::before {
          position: absolute;
          font-family: "Font Awesome 5 Free";
          content: "\f067";
          font-weight: 900;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 40px;
          text-align: center;
          z-index: 1;
          font-size: 16px;
          -webkit-transition: 0.3s ease-in;
          -moz-transition: 0.3s ease-in;
          -o-transition: 0.3s ease-in;
          transition: 0.3s ease-in;
        }
        &[aria-expanded="true"]::before {
          font-family: "Font Awesome 5 Free";
          content: "\f068";
          font-weight: 900;
        }
      }
    }
   
  }